#newhcard .card--{

    width: 521px;
    height: 647px;
   
    
    background: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#newhcard .card-- .first-div{
    height: 142px;
    text-align: center;
    padding-top: 47px;
}
#newhcard .card-- .first-div h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;


color: rgba(0, 0, 0, 0.82);
}
#newhcard .card-- .second{
 padding-top: 23px;
}
#newhcard .card-- img{
 
    height: auto;
    width: auto;
}
#newhcard .card-- .third-div{
    padding-top: 44px;
    padding-left: 65px;
}
#newhcard .card-- .third-div p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;

/* or 182% */


color: rgba(37, 35, 35, 0.82);
}
#newhcard .card-- .fourth-div{
    padding-right: 35px;
    display: flex;
    justify-content: right;
    margin-top: 83px;
}
.more-{
  
    cursor: pointer;
    width: 116px;
height: 61px;
display: flex;
justify-content: center;
align-items: center;

background: #C68CC6;
border-radius: 20px;
}
#newhcard .more- h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
margin-bottom: 0px;
/* identical to box height, or 143% */


color: #FFFFFF;
}
