.colored-card {
    background: url('../../../public/images/blend/blend1.png');
    background-size: contain;
    width: 300px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.colored-card1 {
    background: url('../../../public/images/blend/blend1.png');
    background-size: contain;
    width: 300px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.text-stuff{
    z-index: 1;
}
.colored-card-overlay{
    
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: 0;
    color: #fff;
   position:absolute;
   background:rgba(0,0 ,0,.2);
    border-radius: 20px;
}
.up-arrow{
    width: 40px;
    height: 70px;
    margin-top: 40px;
}
.up-arrow1{
    width: 40px;
    height: 70px;
    margin-top: 0px;
}
.faltu-mt{
    margin-top: 80px;
}
.colored-card-wrapper{
    
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
 
 
    grid-template-areas: 
    "content1 content2 content3"
    "content4 content5 content6";
}
#content1{
    grid-area: "content1";
}
#content2{
    grid-area: "content2";
}
#content3{
    grid-area: "content3";
}
#content4{
    grid-area: "content4";
}
#content5{
    grid-area: "content5";
}
#content6{
    grid-area: "content6";
}


.colored-box-text-wrapper{
margin-top: 20px;
margin-left: 25px;

display: flex;
flex-direction: column;
}
@media(max-width:768px) {
    .colored-card-overlay{
   
       width: 100%;
       height: 100%;
       opacity: .9;
       z-index: 0;
       color: #fff;
      position:absolute;
      overflow: hidden;
       border-radius: 10px;
   }
   .up-arrow{
    width: 30px;
    height: 42px;
    margin-top:5px;
    }
    .up-arrow1{
        width: 30px;
        height: 50px;
        margin-top: 0px;
    }
    .colored-card {
        background: url('../../../public/images/blend/blend1.png');
        
        width: 130px;
        height: 125px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    .faltu-mt{
        margin-top: 0px;
    }
    .colored-card-wrapper{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto auto ;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100vh;
        grid-gap:"1rem"; 
        grid-template-areas: 
        "content1 content2 "
        "content3 content4"
        "content5 content6";
    }
}