#em-header1 .em-bg {
    background: url('../../../../public/images/employer-1/em-bg.svg') center/100% no-repeat;
    background-size: cover;
    background-position: fixed;

}

#em-header1 .pri-header-left {
    margin-top: 44px;
    margin-left: 135px;
}

#em-header1 .pri-header-right {
    margin-right: 204px;
}

#em-header1 .pri-header-right img {
    width: 100%;
    height: 100%;
}

#em-header1 .pri-header-left .mid-div {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

#em-header1 .pri-header-left .mid-div h5 {
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;


    color: #062C30;
}

#em-header1 .pri-header-left .text-content {
    margin-top: 47px;
    width: 520px;
}

#em-header1 .pri-header-left .tick {
    height: 35px;
    width: 35px;
}

#em-header1 .pri-header-left .free-trial-btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 0, 128, 0.75);
    border-radius: 15px;
}

#em-header1 .pri-header-left .free-trial-btn h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    /* identical to box height, or 280% */


    color: #FFFFFF;
}

#em-header1 .pri-header-left .free-trial-btn .vh {
    width: 40px;


    margin-left: 5px;
}

#em-header1 .vd-box {
    position: relative;
    margin-top: 226px;
    width: 825px;
    height: 491px;



    border-radius: 20px;
}

#em-header1 .vd-box img {
    position: relative;
}

#em-header1 .vd-box .cls1 {

    margin-left: 5px;
}

#em-header1 .vd-box .img-box {
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #FFFFFF;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.one- {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;

    color: #000000;
}

.second-section {
    margin-top: 157px;
    margin-bottom: 86px;
}

#em-header1 .em-boxex {

    display: flex;
    padding-top: 26px;
    padding-left: 19.4px;
    width: 402px;
    height: 154px;
    background-color: rgba(243, 187, 244, 0.243);

    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.em-boxex .text-cont {
    padding-left: 30px;
}

.last-2-box {
    margin-top: 89px;
    display: flex;
    justify-content: center;
    gap: 130px;
}

.em-boxex .text-cont h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;



    color: rgba(0, 0, 0, 0.87);
}

.em-boxex .text-cont h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;



    color: rgba(0, 0, 0, 0.87);
}

.s-c-u {
    text-align: center;
    margin-top: 330px;
}
.s-c-u h2{
    margin-bottom: 58px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 52px;

text-align: center;

color: #000000;
}
.h6-text {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
   

    color: #000000;


}

.little-card{
    overflow: hidden;
    box-sizing: border-box;
display: flex;

width: 567px;
height: 247px;


background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.35);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
                 
.little-card .text-cont{
  
  
   padding-top: 72px;
    padding-left: 46px;
   
}     
.little-card .text-cont h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;  
    color: rgba(0, 0, 0, 0.88);
} 

.cz-sm-c{
    margin-top: 138px;
    display: flex;
    justify-content: center;
    gap: 103px;
}
.smcard :nth-child(2){
    margin-top: 46px;
}
.smcard :nth-child(2) h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;

color: #000000;
}