#table2 .let-text {
    margin-top: 136px;
    display: flex;
    justify-content: center;
    margin-bottom:84px ;
}

.let-text h2 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;



    color: #000000;

}

#table2 .table-header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 224px 234px 212px 208px 208px 208px;


    height: 78px;


    border: 1px solid rgba(0, 0, 0, 0.2);
}

#table2 .table-header div {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(128, 0, 128, 0.81); */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    ;

    color: #FFFFFF;
}
#table2 .data-row{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 224px 234px 212px 208px 208px 208px;
    ;


    height: 78px;



}
#table2 .data-row div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    ;

    color: #020202;
}
.remove-btn {
    cursor: pointer;
}